.selectedButton{
    background-color:blue;
}

.notSelectedButton{
    background-color: green;
}

.inputs{
    margin:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}